In [12]:
#https://github.com/mwaskom/seaborn-data
import seaborn as sns
import pandas as pd
import numpy as np
iris = sns.load_dataset("iris")
#type(iris)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
#df = iris.groupby('species')
#df['sepal_length'].mean()
# row wise mean  name.mean(axis=1)

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [14]:
iris['sepal_width'].mean()

3.057333333333334

In [16]:
iris.groupby('species').size()

species
setosa        50
versicolor    50
virginica     50
dtype: int64

In [22]:
# Specify array of percentiles:percentiles
percentiles = np.array([2.5, 25, 50, 75, 97.5])
# Compute percentiles:ptiles_vers 
ptiles_vers = np.percentile(iris.loc[iris['species']== 'setosa', 'petal_length'], percentiles)
# Print the result print(ptiles_vers)

print(ptiles_vers)

[1.1225 1.4    1.5    1.575  1.855 ]