In [48]:
import pandas as pd
import numpy as np

In [67]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df1 = pd.DataFrame(data=d)
print("Original DataFrame")
print(df1)
s = df1.ix[:, 0]
print("\n1st column as a Series:")
print(s)
print(type(s))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

AttributeError: 'DataFrame' object has no attribute 'ix'

In [68]:
arr = pd.Series([1,2, 3, 4, 5, 6])
arr

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [15]:
ser = pd.Series([1, 2, 3,4 , 5, 6])
print(ser)
print("data type: ", type(ser))

print("\nconverting series to list\n")

List = ser.tolist()
print(List)
print("data type: ", type(List))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
data type:  <class 'pandas.core.series.Series'>

converting series to list

[1, 2, 3, 4, 5, 6]
data type:  <class 'list'>

In [18]:
add = arr + ser
print(add)
sub = arr - ser
print(sub)
mul = arr + ser
print(mul)
div = arr / ser
print(div)

0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64
0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64
0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
dtype: float64

In [20]:
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ser = pd.Series(dict)
ser

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [23]:
arr = np.array([10 ,20, 30, 40, 50])
ser = pd.Series(arr)
print(arr)
print(ser)

[10 20 30 40 50]
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [25]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("original series", s1)

s2 = pd.to_numeric(s1, errors="coerce") # invalid parsing will result in NaN
print(s2)

original series 0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [71]:
ser = pd.Series([
                 ['Red', 'Green', 'White'],
                 ['Red', 'Black'],
                 ['Yellow']])
print(ser)
s = ser.apply(pd.Series).stack().reset_index(drop=True)
s

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object