In [2]:
import pandas as pd
df = pd.read_excel("file/sur.xls", header=[0])
df

ModuleNotFoundError: No module named 'pandas'

In [21]:
pd.crosstab([df.Sex,df.Nationality], df.Handedness, margins=True)

Handedness          Left  Right  All
Sex    Nationality
Female Bangadesh       1      0    1
       China           1      1    2
       USA             0      2    2
Male   Bangadesh       1      0    1
       China           1      0    1
       India           2      1    3
       USA             1      1    2
All                    7      5   12

In [24]:
pd.crosstab([df.Sex], [df.Handedness],normalize='index', margins=True)

Handedness      Left     Right
Sex
Female      0.400000  0.600000
Male        0.714286  0.285714
All         0.583333  0.416667

In [29]:
import numpy as np
pd.crosstab([df.Sex], [df.Handedness], values=df.Age, aggfunc=np.average)

C:\Users\dhruv\anaconda3\lib\site-packages\numpy\lib\function_base.py:393: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
C:\Users\dhruv\anaconda3\lib\site-packages\numpy\core\_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Handedness  Left  Right
Sex
Female      44.5   31.0
Male        31.2   28.0